.searchContainer {
    -fx-background-color: linear-gradient(to bottom right, #ffffff, #f2f2f2);
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 4);
    -fx-font-family: "Segoe UI", sans-serif;
}

.text-field {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #cccccc;
    -fx-padding: 6 10 6 10;
}

.button {
    -fx-background-color: #4285f4;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-padding: 8 16;
}

.button:hover {
    -fx-background-color: #3367d6;
}

.recCloseBtn {
    -fx-background-color: #2C2C2C;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.recCloseBtn:hover {
    -fx-background-color: #554388;
}

.recCloseBtn:pressed {
    -fx-background-color: #7059B0;
}
