/* Main container */
.expanding-container {
    -fx-padding: 15;
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1;
}

/* Main button style */
.main-button {
    -fx-background-color:  #9D1A71;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-font-size: 14;
}

.main-button:hover {
    -fx-background-color: #9D1A71;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-font-size: 14;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 4);
}

.main-button:pressed {
    -fx-background-color: #9D1A71;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-font-size: 14;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 2, 0, 0, 1);
    -fx-translate-y: 2px;
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}

/* Sub buttons style */
.sub-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-radius: 5;
    -fx-padding: 8;
}

.sub-button:hover {
    -fx-background-color: rgba(0,0,0,0.6);
    -fx-cursor: hand;
    -fx-background-radius: 5;
    -fx-padding: 8;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}