.root {
    -accent-purple: #774FC7;
}

/*.menuButton {*/
/*    -fx-background-color: #7059B0;*/
/*    -fx-text-fill: white;*/
/*    -fx-padding: 8px 16px;*/
/*    -fx-cursor: hand;*/
/*    -fx-font-weight: bold;*/
/*}*/

/*.menuButton:hover {*/
/*    -fx-background-color: #8D81AF;*/
/*}*/

/*.menuButton:pressed {*/
/*    -fx-background-color: #554388;*/
/*}*/

/*.menuButton:focused {*/
/*    -fx-background-color: #554388;*/
/*    -fx-border-color: #CDD1D6;*/
/*    -fx-border-width: 0px 0px 0px 3px;*/
/*}*/

/*.closeBtn {*/
/*    -fx-background-color: #7059B0;*/
/*}*/

/*.closeBtn:hover {*/
/*    -fx-background-color: #8D81AF;*/
/*}*/

/*.closeBtn:pressed {*/
/*    -fx-background-color: #554388;*/
/*}*/

/* Sidebar Menu Buttons */
.menuButton {
    -fx-background-color: #5D48AB; /* Matches the sidebar background */
    -fx-opacity: 1;
    -fx-text-fill: white;
    -fx-padding: 8px 16px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-border-color: #F8EEFC; /* Light border for contrast */
    -fx-border-width: 1;
    -fx-border-radius: 8;
    -fx-font-size: 16px;
}

.menuButton:hover {
    -fx-background-color: #5D48AB; /* Vibrant pink on hover */
    -fx-opacity: 0.8;
    -fx-cursor: hand;
}

.menuButton:pressed {
    -fx-background-color: #B05BBA; /* Purple on click for feedback */
}

.menuButton:focused {
    -fx-background-color: #9877AB;
    -fx-border-color: #FBB7D0;
    -fx-border-width: 0px 0px 0px 3px;
}

/* Window Close Button */
.closeBtn {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
}

.closeBtn:hover {
    -fx-background-color: WHITE; /* A darker shade of the accent pink */
}

.closeBtn:pressed {
    -fx-background-color: #82173A; /* A very dark red on click */
}

.detailSlot1 {
    -fx-background-color: #E0CCF9;
    -fx-background-radius: 5
}

.registrationLabels {
    -fx-background-color: #7059B0;
    -fx-text-fill: white;
}


.registrationBtn {
    -fx-background-color: linear-gradient(to right, #ff9966, #ff5e62); /* Gradient */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-pref-width: 80px;
    -fx-pref-height: 10px;
    -fx-padding: 3 3;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 6, 0.3, 0, 2);
    -fx-transition: all 0.3s ease-in-out;
}

.registrationBtn:hover {
    -fx-background-color: linear-gradient(to right, #ff5e62, #ff9966);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 10, 0.3, 0, 3);
}
.registrationBtn:pressed{
    -fx-background-color: linear-gradient(to right, #ff5e62, #ff9966);
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 4, 0.2, 0, 1);
}

.recCloseBtn {
    -fx-background-color: #2C2C2C;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.recCloseBtn:hover {
    -fx-background-color: #554388;
}

.recCloseBtn:pressed {
    -fx-background-color: #7059B0;
}

.recAnchorPane {
    -fx-background-color: linear-gradient(
        from 0% 0% to 100% 100%,
        #942EB0 6%,
        #9D1A71 91%
    );
}

.recRecommendationBtn {
    -fx-background-color: linear-gradient(to right, #ff9966, #ff5e62);
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-font-size: 14;
}

.recRecommendationBtn:hover {
    -fx-background-color: #9D1A71;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-font-size: 14;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 4);
}

.recRecommendationBtn:pressed {
    -fx-background-color: #9D1A71;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-font-size: 14;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 2, 0, 0, 1);
    -fx-translate-y: 2px;
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}

.recRecommendationAppBtn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-radius: 5;
    -fx-padding: 8;
}

.recRecommendationAppBtn:hover {
    -fx-background-color: rgba(0,0,0,0.6);
    -fx-cursor: hand;
    -fx-background-radius: 5;
    -fx-padding: 8;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}


.login-button{
    -fx-background-color: linear-gradient(to right, #ff9966, #ff5e62); /* Gradient */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-pref-width: 80px;
    -fx-pref-height: 20px;
    -fx-padding: 10 10;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 6, 0.3, 0, 2);
    -fx-transition: all 0.3s ease-in-out;
}

.login-button:hover {
    -fx-background-color: linear-gradient(to right, #ff5e62, #ff9966);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 10, 0.3, 0, 3);
}
.login-button:pressed{
    -fx-background-color: linear-gradient(to right, #ff5e62, #ff9966);
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 4, 0.2, 0, 1);
}

/*whatsapp button*/

.whatsapp-button{
    -fx-background-color: linear-gradient(to right, #ff9966, #ff5e62); /* Gradient */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-padding: 10 10;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 6, 0.3, 0, 2);
    -fx-transition: all 0.3s ease-in-out;
}

.whatsapp-button:hover {
    -fx-background-color: linear-gradient(to right, #ff5e62, #ff9966);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 10, 0.3, 0, 3);
}
.whatsapp-button:pressed{
    -fx-background-color: linear-gradient(to right, #ff5e62, #ff9966);
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 4, 0.2, 0, 1);
}

.toggle-btn {
    -fx-background-color: #5D48AB; /* Matches the sidebar background */
    -fx-opacity: 1;
    -fx-text-fill: white;
    -fx-padding: 2px;
    -fx-cursor: hand;
    -fx-background-radius: 8;
}

.toggle-btn:hover {
    -fx-background-color: #5D48AB; /* Vibrant pink on hover */
    -fx-opacity: 0.8;
    -fx-cursor: hand;
}

.toggle-btn:pressed {
    -fx-background-color: #B05BBA; /* Purple on click for feedback */
}

.toggle-btn:focused {
    -fx-background-color: #B05BBA;
}

.toggle-btn:selected {
    -fx-background-color: #B05BBA;
}

.detailSlot2 {
    -fx-background-color: #E0CCF9;
    -fx-background-radius: 5
}